.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

  .wrapper {
    display: flex;
    align-items: center;

    .menu {
      list-style-type: none;
      padding-right: 20px;
      border-right: 1px solid #233445;

      > li {
        display: inline-block;
        > a {
          display: block;
          font-size: 16px;
          color: rgb(12, 77, 156);
          padding: 0 6px;
          text-decoration: none;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      padding-left: 10px;

      > button {
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        color: rgb(12, 77, 156);
      }

      .login-button {
        padding: 0 6px;
      }
      .sign-up-button {
        margin-left: 15px;
        padding: 10px 20px;
        border: 1px solid #e1e1e1;
      }
    }
  }
}
